<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>home</title>
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script src="/js/chat.js"></script>
</head>
<body>
	<div class="container">
		<div th:if="${message}" th:text="${message}" class="text-danger"></div>
	<header class="container-fluid row justify-content-between m-4">
		<div class="col-auto">
			<a th:href="@{/home/room/}+${homeId}">ChatApp</a>
		</div>
		<div class="col-auto">現在のRoomID：
		<span th:data-value="${room.roomId}" th:text="${room.roomId}" id="roomIdNow"></span>
		</div>
		<div class="col text-right">
			<a th:href="@{/user/updateUser}" th:if="${session.user.name}" th:text="${session.user.name}" id="userName"></a>
		</div>
		<input type="hidden" name="userId" th:value="${session.user.userId}"  id="userId">
		<div class="col-auto">
			<a th:href="@{/home/logout}">Logout</a>
			</div>
	</header>
		<div class="row" style="height: 35rem;">
	
		<div id="left-content" class="h-100 col-lg-2">
			<!-- <div class="border rounded bg-light col">
				<div>Room ID</div>
				<form th:action="@{/home/enter}" method="post" id="enterForm">
					<input type="text" name="roomId" id="nextRoomId" class="form-control">
					<button type="submit" id="enterRoom" class="btn btn-primary">入室</button>
				</form>
			</div>
			<br> -->
			<div class="border rounded bg-light col">
				<div>Create Room</div>
				<form th:action="@{/home/createRoom}" method="post" th:object="${createRoomForm}">
					<label for="roomName" class="form-label">RoomName</label>
					<input type="text" th:field="*{roomName}" id="roomName" class="form-control">
					<input type="hidden" name="userId" th:value="${session.user.userId}">
					<button type="submit" class="btn btn-primary">作成</button>
				</form>
			</div>
			<br>
			<div class="border rounded bg-light col h-75" tabindex = "0" style="overflow-y:scroll;">
				<div>
					<a th:href="@{/home/room/}+${homeId}">全体ルーム</a>
				</div>
			<div th:if="${publicList.size}">publicList</div>
			<div th:each="userRoom : ${publicList}">
				<form th:action="@{/home/enter}" method="post">
					<input type="hidden" name="roomId" th:value="${userRoom.roomId}">
					<button type="submit" th:text="${userRoom.roomName}" class="btn btn-outline-success"></button>
				</form>
				</div>
			<br>
			<div th:if="${privateList.size}">privateList</div>
				<div th:each="userRoom : ${privateList}">
					<form th:action="@{/home/enter}" method="post">
						<input type="hidden" name="roomId" th:value="${userRoom.roomId}">
						<button type="submit" th:text="${userRoom.roomName}" class="btn btn-outline-success"></button>
					</form>
				</div>
			</div>
		</div>
		<div class="border rounded col h-100 p-0"  tabindex="0" style="overflow-y:scroll;">
			<div class="row no-gutters">
				<div id="main-content" class="col">
					<table id="conversation" class="table table-striped table-bordered m-0">
						<tbody id="greetings">
							<tr id="no-message">
								<td th:unless="${chatList.size}">チャット履歴がありません。 メッセージを送信して、チャットを開始しましょう！</td>
							</tr>
							<tr th:each="chat : ${chatList}">
								<td>
									<span th:text="${chat.userName}"></span> : <span th:text="${chat.content}"></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-sm-2 m-2 d-flex align-items-end">
			<div class="row justify-content-center g-2">
				<form action="" id="sendChat" class="col">
					<input type="hidden" id="name" th:value="${session.user.name}">
					<label for="message" class="form-label">Message</label>
					<input type="text" id="message" class="form-control">
					<button type="submit" id="send">Send</button>
				</form>
			</div>
		</div>
	</div>

	<br>
	
	<footer></footer>
	</div>
</body>
</html>