<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>home</title>
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/home.css">
	<script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script src="/js/chat.js"></script>
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  		<symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    		<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  		</symbol>
  		<symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    		<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  		</symbol>
  		<symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    		<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  		</symbol>
	</svg>
</head>
<body>
	<div class="container-fluid">
	<header class="row justify-content-between m-4">
		<div class="col-auto">
			<a th:href="@{/home/room/}+${homeId}">ChatApp</a>
		</div>
		<div class="col-auto">現在のRoomID：
		<span th:data-value="${room.roomId}" th:text="${room.roomId}" id="roomIdNow"></span>
		</div>
		<div class="col text-right">
			<a th:href="@{/user/updateUser}" th:if="${session.user.name}" th:text="${session.user.name}" id="userName"></a>
		</div>
		<input type="hidden" name="userId" th:value="${session.user.userId}"  id="userId">
		<div class="col-auto">
			<a th:href="@{/home/logout}">Logout</a>
			</div>
	</header>
	<div  th:if="${message}" class="alert alert-danger d-flex align-items-center" role="alert">
		<svg class="bi flex-shrink-0 me-2" width="24" height="24"><use xlink:href="#exclamation-triangle-fill"/></svg>
		<div th:text="${message}"></div>
	</div>
	<div class="row" style="height: 35rem;">
	
	<div id="left-content" class="h-100 col-lg-2">
			<div class="border rounded bg-light col">
				<div>Create Room</div>
				<form th:action="@{/home/createRoom}" method="post" th:object="${createRoomForm}">
					<label for="roomName" class="form-label">RoomName</label>
					<input type="text" th:field="*{roomName}" id="roomName" class="form-control">
					<input type="hidden" name="userId" th:value="${session.user.userId}">
					<button type="submit" class="btn btn-primary">作成</button>
				</form>
			</div>
			<br>
			<div class="border rounded bg-light col h-75" tabindex = "0" style="overflow-y:scroll;">
				<div>
					<a th:href="@{/home/room/}+${homeId}">全体ルーム</a>
				</div>
			<div th:if="${publicList.size}">publicList</div>
			<div th:each="userRoom : ${publicList}">
				<form th:action="@{/home/room/} + ${userRoom.roomId}" method="post">
					<input type="hidden" name="roomId" th:value="${userRoom.roomId}">
					<button type="submit" th:text="${userRoom.roomName}" class="btn btn-outline-success"></button>
				</form>
				</div>
			<br>
			<div th:if="${privateList.size}">privateList</div>
				<div th:each="userRoom : ${privateList}">
					<form th:action="@{/home/room/${userRoom.roomId}}" method="post">
						<input type="hidden" name="roomId" th:value="${userRoom.roomId}">
						<button type="submit" th:text="${userRoom.roomName}" class="btn btn-outline-success"></button>
					</form>
				</div>
			</div>
		</div>
		<div class="border rounded col h-100 p-0"  tabindex="0" style="overflow-y:scroll;">
			<div class="row no-gutters">
				<div id="main-content" class="col">
					<table id="conversation" class="table table-striped table-bordered m-0">
						<tbody id="greetings">
							<tr id="no-message">
								<td th:unless="${chatList.size}">チャット履歴がありません。 メッセージを送信して、チャットを開始しましょう！</td>
							</tr>
							<tr th:each="chat : ${chatList}">
								<td>
									<span th:text="${chat.userName}"></span> : <span th:text="${chat.content}"></span>
									<div th:if="${chat.picturePath}">
										<img th:src="${chat.picturePath}" alt="" width="200">
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-sm-2 m-2 d-flex align-items-end">
			<div class="row g-2">
				<form action="" id="sendChat">
					<input type="file" id="upload_file" name="upload_file" accept="image/png, image/jpeg">
					<div id="preview"></div>
					<input type="hidden" id="name" name="name" th:value="${session.user.name}">
					<label for="message" class="form-label">Message</label>
					<input type="text" id="message" name="message" class="form-control">
					<button type="submit" id="send">Send</button>
				</form>
			</div>
		</div>
	</div>

	<br>
	
	<footer></footer>
	</div>
</body>
</html>